/* general */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
	--color-card: #0f0e17;
	--color-title: #e53170;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* .debug{
    border: 5px solid black;
} */

.container{
    max-width: 1200px;
    margin: 30px auto;
}

h1{
    color: var(--color-title);
    font-size: 30px;
    text-align: center;
    margin: 40px;
}

.box{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    background-color: var(--color-card);
}

.float-left{
    float: left;    
}

img{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.info{
    width:(100& - 100px);
    padding: 5px
}

h2{
    font-size: 20px;
}


