/* general */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
	--color-card: #0f0e17;
	--color-title: #e53170;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    max-width: 1200px;
    margin: 40px auto;
}

.text-center{
    text-align: center;
}

header{
    color: var(--color-title);
    text-align: center;
    font-size: 20px;
    margin: 40px auto;
}

.box{
    /* background-color: var(--color-card); */
    width: calc(100% / 3);
    padding: 20px;

}

.float-left{
    float: left;
}

.container{
    margin: 40px auto; 
    
}

h2{
    font-size: 20px;
}

.info{
    background-color: var(--color-card);
    color: white;
    height: 100px;
}

.card{
    width: 100px;
    height: 100px;
}




